DB_USERNAME=root
DB_PASSWORD=1999
TMDB_API_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJiYThlNzRjMTJiMGFjZWYxMGE2OTE4MzIxZTk0NGY4MSIsIm5iZiI6MTcyNTQ2MDIxMS4yMzEsInN1YiI6IjY2ZDg2ZWYzYWU0NGViNjE5NjYwNDc3MiIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.4IAQikLwfDLw2uMwTmHC71qicyHT2U3970YyEnlcSUM
GOOGLE_CLIENT_ID=365751882162-t0rc1qpigmbverunjccru6v374dhvlc2.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
