<div class=" text-white sm:px-6 8 bg-gray-800/30 py-20">
  <div class="mx-auto px-20">
    <div class="flex justify-between items-center mb-6">
      <h2 class="text-4xl font-['Bebas_Neue'] mb-8">What's Popular
      </h2>
    </div>

    <div class="relative ">
      <!-- Left scroll button -->
      <button (click)="scrollLeft()" class="absolute left-0 top-1/2 -translate-y-1/2 z-10 bg-black/50 p-2 rounded-full">
        <svg class="w-6 h-6 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
        </svg>
      </button>

      <!-- Movie container with scroll -->
      <div #movieContainer class="flex overflow-x-auto gap-6 scroll-smooth no-scrollbar ">
        <div *ngFor="let movie of movies" class="flex-none w-[calc(16.666%-1.2rem)] min-w-[180px] ">
          <app-movie-card [movie]="movie"></app-movie-card>
        </div>
      </div>

      <!-- Right scroll button -->
      <button (click)="scrollRight()"
        class="absolute right-0 top-1/2 -translate-y-1/2 z-10 bg-black/50 p-2 rounded-full">
        <svg class="w-6 h-6 text-white" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
        </svg>
      </button>
    </div>
  </div>
</div>