/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-color:  rgb(20, 25, 29);
    // --background-header-footer: rgb(20, 25, 29);
}
  
body {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    // font-family: 'Roboto', sans-serif;
}

