/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-color: #FBF5DD;
    --background-header-footer: rgb(20, 25, 29);
}
  
body {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: var(--background-header-footer)
}

footer {
    background-color: var(--background-header-footer)
}
  
/* Update MovieGrid component */
section.movie-grid {
    background-color: var(--background-color);
    min-height: 100vh;
}
  
/* Update MovieDetail component */
.movie-detail {
    background-color: var(--background-color);
}
  
/* Update MovieCard component */
.movie-card {
    background-color: var(--background-color);
}