
<footer class="bottom-0  w-full text-gray-400 py-8">
    <!-- Social Links -->
    <div class="flex justify-center space-x-6 mb-8">
      <h3 class="text-white mr-4">Follow on social</h3>
      <a href="#" class="hover:text-white"><i class="fab fa-tiktok"></i></a>
      <a href="#" class="hover:text-white"><i class="fab fa-instagram"></i></a>
      <a href="#" class="hover:text-white"><i class="fab fa-x-twitter"></i></a>
      <a href="#" class="hover:text-white"><i class="fab fa-youtube"></i></a>
      <a href="#" class="hover:text-white"><i class="fab fa-facebook"></i></a>
    </div>
  
   
    <!-- Links -->
    <div class="flex justify-center space-x-6 mb-4">
      <a href="#" class="hover:text-white">Support</a>
      <a href="#" class="hover:text-white">Site Map</a>
      <a href="#" class="hover:text-white">IMDbPro Services</a>
      <a href="#" class="hover:text-white">BoxOffice Data</a>
      <a href="#" class="hover:text-white">License Data</a>
    </div>
   
    <div class="flex justify-center space-x-6 mb-8">
      <a href="#" class="hover:text-white">Media Room</a>
      <a href="#" class="hover:text-white">Marketing</a>
      <a href="#" class="hover:text-white">Careers</a>
      <a href="#" class="hover:text-white">Terms of Use</a>
      <a href="#" class="hover:text-white">Privacy Terms</a>
      <a href="#" class="hover:text-white">Ad Choices</a>
    </div>
   
   </footer>